body{
margin:0;
overflow:hidden;
background:#87ceeb;
font-family:sans-serif;
}

#loading{

position:absolute;
top:20px;
left:20px;

background:white;
padding:10px 20px;

border-radius:8px;

font-weight:bold;

}
